 ul {
  list-style: none;
  width: 30%;
 }
 #colorLabel {
     color: white;
     float: right;
 }
 .colors {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .colors li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .colors li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .colors li:hover {
    color: #607D8B;
    background-color: #DDD;
   
  }
  .colors .text {
    position: relative;
    top: -3px;
  }
  .colors .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }