<h1>{{title}}</h1>
<input #newColor (keyup.enter)="addColor(newColor.value)">

<button (click)=addColor(newColor.value)>Add</button>

<ul class="colors">
  <li *ngFor="let color of colors; let i=index"  [ngStyle]="{'background-color': color}"> 
    <span class="badge" (click)=removeColor(i)>D</span><span id="colorLabel">{{color}}</span></li>
</ul>